In [2]:
# import dependencies

import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from sqlalchemy import create_engine
import psycopg2
from splinter import Browser
from pprint import pprint

### NASA Mars News

In [10]:
# URL of page to be scraped

nasa_url = 'https://mars.nasa.gov/news/'

# Retrieve page with the requests module

response = requests.get(nasa_url)

# Create BeautifulSoup object; parse with 'html.parser'

soup = bs(response.text, 'html.parser')

In [14]:
title = soup.find('ul.item_list li.slide div.content_title')
print(title)

None

In [12]:
slide_element = soup.select_one('ul.item_list li.slide')
title =[]

for s in slide_element: 
    if s.div.content_title:
        title.append(s)
        print(title)

TypeError: 'NoneType' object is not iterable

In [ ]:
slide_element = news_soup.select_one('ul.item_list li.slide')
slide_element.find("div", class_="content_title")

# Use the parent element to find the first <a> tag and save it as news_title
news_title = slide_element.find('div', class_='content_title').get_text()
news_title

In [ ]:
# Get the news paragraphs
news_paragraph = slide_element.find('div', class_='article_teaser_body').get_text()
news_paragraph

### JPL Mars Space Images

### Mars Facts

In [4]:
#Visit the Mars Facts webpage and use Pandas to scrape the table containing 
#facts about the planet including Diameter, Mass, etc.

mars_facts_df = pd.read_html('https://space-facts.com/mars/')[0]
mars_facts_df.columns=['Description', 'Mars']
mars_facts_df.set_index('Description', inplace=True)


mars_facts_df

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [5]:
#Use Pandas to convert the data to a HTML table string.

mars_facts_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres